developer_token: PASTE_GOOGLE_ADS_DEVELOPER_TOKEN_HERE
client_id: PASTE_GOOGLE_CLIENT_ID_HERE
client_secret: PASTE_GOOGLE_CLIENT_SECRET_HERE
refresh_token: PASTE_GOOGLE_ADS_REFRESH_TOKEN_HERE
login_customer_id: PASTE_MANAGER_CUSTOMER_ID_WITHOUT_DASHES_OR_REMOVE_THIS_LINE
use_proto_plus: true
